:root {
  --yellow-50: #fffbea;
  --yellow-100: #fff3c4;
  --yellow-200: #FEF08A;
  --yellow-300: #FDE047;
  --yellow-400: #FACC15 ;

  --teal-50: #edf9f9;
  --teal-100: #d5f5f6;

  --smoke-50: #f9fafb;
  --smoke-100: #f3f4f6;
  --smoke-600: #6b7280;
  --smoke-800: #374151;
  --smoke-900: #1f2937;

  --link-bg-color: var(--yellow-50);
  --link-border-color: var(--yellow-200);
  --link-hover-bg-color: var(--yellow-100);
  --link-hover-border-color: var(--yellow-400);

  --transition-time: 0.2s;
  --transition-fn: ease-in-out;

  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-3: 1rem;
  --size-4: 1.5rem;
  --size-5: 2rem;
  --size-6: 2.5rem;
  --size-7: 3rem;
  --size-8: 3.5rem;
  --size-9: 4rem;


  --font-xl: var(--size-9);
  --font-lg: var(--size-4);
  --font-normal: var(--size-3);
  --font-sm: 0.85rem;

  --width: 640px;
  --section-wrapper-width: calc( var(--width) * 3 / 5 ); /* 384px */
  --section-width: calc( var(--size-4) + var(--section-wrapper-width) + var(--size-4)); /* 432px */
}

html {
  font-size: 16px;
}

html * {
  box-sizing: border-box;
}

body {
  overflow: hidden;
  margin: 0;
}

.font-title {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Undo default styling */
h1, h2, h3, p, small {
  margin: 0;
  padding: 0;
  font-size: var(--font-normal);
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.default {
  font-family: Inter, Roboto, Helvetica, sans-serif;
  line-height: var(--size-4);

  main {
    height: 100vh;
    margin: auto;
  }

  a {
    display: inline-block;
    border-radius: var(--size-1) var(--size-1) 0 0;

    color: Black;
    text-decoration: none;
    background-color: var(--link-bg-color);
    border-bottom: 2px solid var(--link-border-color);

    transition: background-color var(--transition-time) var(--transition-fn),
                border-color     var(--transition-time) var(--transition-fn);

    &:hover {
      background-color: var(--link-hover-bg-color);
      border-color: var(--link-hover-border-color);
    }
  }

  h1 {
    font-size: var(--font-xl);
    line-height: var(--size-8);
  }

  h2 {
    font-size: var(--font-lg);
    line-height: var(--size-5);
  }

  p {
    color: var(--smoke-800);
  }

  small {
    font-weight: 200;
    font-size: 0.85rem;
    color: var(--smoke-600);
  }

  em {
    font-style: normal;
    padding: var(--size-1);
    border-radius: var(--size-1);

    background-color: var(--teal-50);

    transition: background-color var(--transition-time) var(--transition-fn),
                border-color     var(--transition-time) var(--transition-fn);

    &:hover {
      background-color: var(--teal-100);
    }
  }

  li {
    margin-bottom: var(--size-2);
  }
}

main.blog {
  margin-top: 6rem;
}

/* Navigation */
nav {
  position: relative;
  font-size: var(--font-lg);
  transition: transform var(--transition-time) var(--transition-fn);

  & > ul {
    li {
      padding: var(--size-3);
      margin: 0 !important;
      cursor: pointer;
      border-color: var(--yellow-200);
      transition: background-color var(--transition-time) var(--transition-fn);

      &:hover {
        background-color: var(--yellow-50);
      }

      &::after {
        content: "arrow_forward_ios";
        color: var(--yellow-200);
        opacity: 1;
        transition: opacity var(--transition-time) var(--transition-fn);

        float: right;
        transform: translateY(-10%);

        font-family: 'Material Symbols Outlined';
        font-weight: lighter;
        font-style: normal;
        font-size: 2rem;
        line-height: 1;
        letter-spacing: normal;
        text-transform: none;
        display: inline-block;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        -webkit-font-feature-settings: 'liga';
        -webkit-font-smoothing: antialiased;
      }

      &.sel {
        background-color: var(--yellow-100);
        border-bottom: 4px solid var(--yellow-200);
        padding-bottom: calc( var(--size-3) - 4px );

        &::after {
          content: "close";
          color: var(--yellow-300);
        }
      }

      /* second level of the nav */
      ul {
        position: absolute;
        top: 0;
        left: 50%;
  
        width: 50%;
  
        visibility: hidden;
        opacity: 0;
        transform: translateX(10%);
        transition: all var(--transition-time) var(--transition-fn);
      }

      &.sel ul {
        visibility: visible;
        opacity: 1;
        transform: translateX(0);
      }
    }
  }

  /* Control the display of the '>' in nav items so that when one nav item is selected,
  /* its siblings hide their '>' icon */
  &[data-level="1"], &[data-level="2"] {
    li[data-level="1"]:not(.sel)::after {
      opacity: 0;
    }
  }

  &[data-level="2"] {
    li[data-level="2"]:not(.sel)::after {
      opacity: 0;
    }
  }
}

/* Section styling */
body {
  button.section-close {
    position: absolute;
    top: var(--size-2);
    right: var(--size-2);
    z-index: 10;

    font-family: 'Material Symbols Outlined';
    font-weight: lighter;
    font-style: normal;
    font-size: 2rem;

    border: none;
    background: none;
    color: var(--smoke-600);
    cursor: pointer;
    opacity: 0;
    visibility: hidden;

    transition: all var(--transition-time) var(--transition-fn);
  }

  &:not([data-section=""]) button.section-close {
    opacity: 1;
    visibility: visible;
  }

  section {
    position: absolute;
    background: var(--smoke-100);
    overflow-x: hidden;
    overflow-y: scroll;

    box-shadow: inset 4px 0px 4px 0px rgba(0, 0, 0, 0.1);
    padding: var(--size-4);

    opacity: 0;
    visibility: hidden;
    transition: all var(--transition-time) var(--transition-fn);

    &.sel {
      opacity: 1;
      visibility: visible;
    }

    .wrapper {
      min-height: 100vh;
      padding: 50px 0;

      display: flex;
      flex-direction: column;
      gap: var(--size-4);
      justify-content: center;
    }

    p {
      margin-bottom: var(--size-2);
    }

    .image {position: relative;
      width: 150%;
      transform: translateX(-30%);
      
      img {
        width: 100%;
      }
    }

    &[data-section="meet"] .image {
      img:nth-child(2) {
        position: absolute;
        top: 8%;
        right: 13%;
        transform: scale(0.219);
        transform-origin: top right;
      }
    }

    &[data-section="sheets"] .image {
      img:first-child {
        position: absolute;
        top: 8%;
        right: 12%;
        transform: scale(0.7);
        transform-origin: top right;
      }
    }
  }
}

/**==== Sizing ====**/
.default {
  main {
    /* width: 100%; */
    width: var(--width);
  }
}

nav {
  ul {
    width: 50%;
  }

  &[data-level="2"] {
    transform: translateX(-50%);
  }
}

body {
  section {
    inset: 0 0 0 50%;
    transform: translateX(320px);

    .wrapper {
      width: var(--section-wrapper-width);
    }
  }

  &:not([data-section="" ]) section {
    transform: translateX(0);
  }
}

@media (max-width: 816px ) {
  body {
    section {
      inset: 0 0 0 calc(100vw - var(--section-width));
    }
  }

  nav[data-level="2"] {
    --gutter: calc( (100vw - var(--width)) / 2 );
    transform: translateX( calc( var(--gutter) - var(--section-width) ));
  }
}

@media (max-width: 640px) {
  nav {
    ul {
      min-width: 320px;
    }

    &[data-level="1"] {
      transform: translateX( calc( 100vw - 100% ) );
    }


    &[data-level="2"] {
      transform: translateX(calc(-1 * var(--section-width) + 100vw - 100%));
    }
  }
}

@media (max-width: 456px) {
  body {
    section {
      inset: 0 0 0 0;

      .wrapper {
        width: auto;
      }
    }
  }
}

/* Generic formatting classes */
.mobile {
  border: 5px solid Black;
  border-radius: 30px;
  box-shadow: 0 4px 8px 5px rgba(0,0,0,0.2);
  
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  
  width: 260px;
  height: 565px;
  margin: auto;
  
  overflow-y: scroll;

  img {
    width: 100%;

    &.header {
      position: sticky;
      top: 0;
    }
  }
}

ul.resume {
  display: flex;
  flex-direction: column;
  gap: var(--size-2);

  & > li {
    display: flex;
    flex-direction: column;
    gap: var(--size-1);
  }

  & > li > div:first-child {
    img {
      height: 40px;
    }

    a {
      background: none;
      border: none;
    }
  }

  & > li > div:not(:first-child) {
    margin-left: var(--size-4);
  }
}

.col {
  display: flex;
  flex-direction: column;

  &.g2 { gap: 1rem; }
  &.g4 { gap: 2rem; }
}

ul.list li {
  margin-left: var(--size-5);
  list-style-type: disc;
}

.justify-center {
  justify-content: center;
}

.block {
  display: block;
}

img.focus {
  border-radius: var(--size-2);
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}